.root {
  margin: 20px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 8px;
  transition: all 0.15s ease-in-out;
  width: 400px;

  @media (max-width: 1150px) {
    width: 300px;
  }
  @media (max-width: 900px) {
    width: 200px;
  }
  @media (max-width: 720px) {
    width: 250px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 450px;

    @media (max-width: 1150px) {
      width: 350px;
    }
    @media (max-width: 900px) {
      width: 250px;
    }
    @media (max-width: 720px) {
      width: 350px;
    }
  }
}
